<div class="enrollment-container">
    <div class="heading-box">
      <span class="icon" onclick="window.history.back()">⬅️</span>
      <h1 class="title">Manage Enrollment</h1>
      <span class="icon">🖨️</span>
    </div>
    <h2 class="title" id="activity-title">
        <!-- html injected by enrollment-panel.js -->
    </h2>
    <div class="details-container">
        <p><span class="detail-title">Day:</span><span id="day"></span></p>
        <p><span class="detail-title">Dates:</span><span id="dates"></span></p>
        <p><span class="detail-title">Times:</span><span id="timing"></span></p>
        <p><span class="detail-title">Total spaces:</span><span id="spaces-info"></span></p>
        <p><span class="detail-title">Num. Enrolled:</span><span id="enrolled-students"></span></p>
    </div>
    <div class="info-text">
        <p>Interacting with the below list will trigger the enrollment process, securely capturing information about the child (with parental consent) to share with the provider.</p>
        <br>
        <p>Only minimal relavent information will be stored, used to create a unique identifier for the child so we can trace their service and outcome journey.</p>
        <br>
        <p class="text-green">Currently, clicking on an available slot will add a 'student' to the activity. They can be unenrolled by clicking the red cross.</p>
        <!-- html injected by enrollment-panel.js (uses same details format as activity-cards) -->
    </div>

    <div id="currently-enrolled">
        <h2>Currently Enrolled</h2>
        <ol id="enrollment-list">
            <!-- html injected by enrollment-panel.js -->
        </ol>
    </div>
    
</div>
