<div class="enrollment-container">
    <div class="heading-box">
      <span class="icon" onclick="window.history.back()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon go-back-icon"><path d="M18 15h-6v4l-7-7 7-7v4h6v6z"/></svg>
      </span>
        </span>
      <h1 class="title">Manage Enrollment</h1>
      <span class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="printer-icon"><path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"/><path d="M6 9V3a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6"/><rect x="6" y="14" width="12" height="8" rx="1"/></svg>
      </span>
    </div>
    <h2 class="title" id="activity-title">
        <!-- html injected by enrollment-panel.js -->
    </h2>
    <div class="details-container">
        <p><span class="detail-title">Day:</span><span id="day"></span></p>
        <p><span class="detail-title">Dates:</span><span id="dates"></span></p>
        <p><span class="detail-title">Times:</span><span id="timing"></span></p>
        <p><span class="detail-title">Total spaces:</span><span id="spaces-info"></span></p>
        <p><span class="detail-title">Num. Enrolled:</span><span id="enrolled-students"></span></p>
    </div>
    <div class="info-text">
        <p>Interacting with the list below will trigger the enrollment process, securely capturing information about the child (with parental consent) to share with the provider.</p>
        <br>
        <p>Only minimal relavent information will be stored, used to create a unique identifier for the child so we can trace their service and outcome journey.</p>
        <br>
        <p class="text-green">Currently, clicking on an available slot will add a 'test-student' to the activity. They can be unenrolled by clicking the red cross.</p>
        <!-- html injected by enrollment-panel.js (uses same details format as activity-cards) -->
    </div>

    <div id="currently-enrolled">
        <h2>Currently Enrolled</h2>
        <ol id="enrollment-list">
            <!-- html injected by enrollment-panel.js -->
        </ol>
    </div>
    
</div>
