<!-- Heading -->
<div class="branding">
  <h1>Connected Minds Lambeth</h1>
</div>

<!-- Nav bar -->
<nav>
  <a href="/">Home</a>
  <% if (user) { %>
    <% if (user.role === 'supa_admin') { %>
      <a href="/create-user">Create User</a>
    <% } %>
    <% if (user.role === 'supa_admin') { %>
      <a href="/add-activity">Add/Edit Activities</a>
    <% } %>
    <a>logged in as <%= user.username %></a>
  <% } %>
</nav>


<!-- Login Button -->
<div>
<% if (user) { %>
  <a href="#" id="logoutButton" class="user-log-in">Log Out</a>
<% } else { %>
  <a href="#" class="user-log-in" id="loginButton">Log in</a>
<% } %>
</div>

<!-- Include the modal partial -->
<!-- Login Modal -->
<div id="loginModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2 class="modal-heading">Login</h2>

    <!-- Error Message Placeholder -->
    <p id="loginErrorMessage" style="color: red; text-align: center;"></p>

    <form id="loginForm">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>

      <button type="submit">Log in</button>
    </form>
  </div>
</div>