<div class="filters-container">
    <label>
      <input type="checkbox" id="filters-enabled" />
      Filters Enabled
    </label>
    <div id="filters-panel" class="filters-panel hidden">
      <!-- Filters content -->
      <div>
        <label>
          <input type="checkbox" name="filter-audience" />
          Audience
        </label>
      </div>
      <div>
        <label>
          <input type="checkbox" name="filter-cost" />
          Cost
        </label>
      </div>
      <div>
        <label>
          <input type="checkbox" name="filter-date" />
          Date
        </label>
      </div>
    </div>
  </div>