.single-activity-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: white;
    gap: 1rem;
}

.single-activity-container p {
    font-size: large;
}

.heading-box {
    display: flex;
    width: 100%;
    gap:1rem;
}

.heading-box .title {
    flex: 1;
    text-align: center;
    color: var(--primary-title-colour);
}

.icon {
    border: none;
    background: none;
    text-align: center;
    font-size: x-large;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.icon:hover {
    transform: scale(1.2);
}

.go-back-icon {
    width: 2.5rem;
    height: auto;
    stroke: var(--menu-button-colour);
    transition: stroke 0.3s ease-in-out;
}
  
.icon:hover .go-back-icon {
    stroke: var(--secondary-colour);
}

.printer-icon {
    width: 2.0rem;
    height: auto;
    stroke: var(--menu-button-colour);
}

.delete-icon {
    width: 2rem;
    height: auto;
    stroke: var(--menu-button-colour);
    transition: stroke 0.3s ease-in-out;
}

.icon:hover .delete-icon {
    stroke: var(--red-button-colour);
}

.activity-description-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px;
    margin: 0 2rem;
    background-color: #F0F0F0;
}
  
#details-container {
    display: flex;
    flex-direction: column;    
    width: 100%;
    gap: 0.3rem;
    padding: 0 1rem;
}


#details-container p {
    color: rgb(90, 90, 90);
}

#details-container strong {
    color: rgb(0, 0, 0);
}

#details-container .lower-info {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin: 0.5rem 0 0 0rem;
  }
  
#map-container {
    width: 100%;
    border: 2px solid #9b9b9b6b;
    border-radius: 8px;

}
  
#activity-map {
    width: 100%;
    height: 300px;
    border-radius: 8px;
}

.text-green { color: #01a075; font-weight: 500; }
.text-amber { color: orange; font-weight: 500; }
.text-red { color: red; font-weight: 500; }

@media screen and (max-width: 650px) {
    #details-container {

        padding: 0 0;
    }

    .activity-description-box {
        margin: 0;
    }
  }
  