/* General Button Styles */
.btn {
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 600;
    max-width: 10rem;

    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    flex: 1;
}
  
#edit-buttons-box {
    display: flex; 
    flex-direction: column;  /* Ensures vertical stacking */
    gap: 0.4rem;
    padding-left: 0.5rem;
}

.button-span {
    display: flex;
    width: 80%;
    gap: 0.6rem;
    min-width: 220px;
}
  
.edit-span {
    display: flex;
    justify-content: space-between;
}
  
/* Enroll Button */
.btn.enroll-btn {
    background-color: #02c490;
    color: white;
}
  
.btn.enroll-btn:hover {
    background-color: rgba(42, 226, 177, 0.651);
    transform: scale(1.05);
  }
  
/* Edit Details Button */
.btn.edit-btn {
    background-color: #007bff;
    color: white;
}
  
.btn.edit-btn:hover {
    background-color: #4aa1ff;
    transform: scale(1.05);
}