/* General Button Styles */
.btn {
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 600;
    width: 10rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
  
#edit-buttons-box {
    display: flex; 
    flex-direction: column;  /* Ensures vertical stacking */
    gap: 0.4rem;
    padding-left: 1rem;
}

.enroll-span {
    display: flex;
    justify-content: left;
}
  
.edit-span {
    display: flex;
    justify-content: space-between;
}
  
  /* Enroll Button */
  
.btn.enroll-btn {
    background-color: #02c490;
    color: white;
}
  
.btn.enroll-btn:hover {
    background-color: rgba(42, 226, 177, 0.651);
    transform: scale(1.05);
  }
  
/* Unenroll Button */
.btn.unenroll-btn {
    background-color: #dc3545;
    color: white;
    width: 60px;
    font-size: 12px;
}
  
.btn.unenroll-btn:hover {
    background-color: #c82333;
    transform: scale(1.05);
}
  
/* Edit Details Button */
.btn.edit-btn {
    background-color: #007bff;
    color: white;
}
  
.btn.edit-btn:hover {
    background-color: #4aa1ff;
    transform: scale(1.05);
}