.enrollment-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: white;
    gap: 1rem;
}

.heading-box {
    display: flex;
    width: 100%;
    gap:1rem;
}

.heading-box .title {
    flex: 1;
    text-align: center;
    color: var(--primary-title-colour);
}

#activity-title {
    text-align: center;
    margin-top: 1rem;
    font-style: italic;
    color: var(--secondary-title-colour);
}

.go-back-icon {
    width: 2.5rem;
    height: auto;
    stroke: var(--menu-button-colour);
    transition: stroke 0.3s ease-in-out;
}
  
.icon:hover .go-back-icon {
    stroke: var(--secondary-colour);
}

.icon {
    border: none;
    background: none;
    text-align: center;
    font-size: x-large;
    cursor: pointer;
    transition: transform 0.3s ease-in-out; /* Smooth transition effect */
}

.icon:hover {
    transform: scale(1.1); /* Increases size by 20% on hover */
}

.printer-icon {
    width: 2.0rem;
    height: auto;
    stroke: var(--menu-button-colour);
}

.details-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0.2rem;
    background-color: #F0F0F0;
    margin: auto;
}

.details-container p {
    display: flex;
    align-items: center;
    white-space: nowrap; /* Prevents text from wrapping */
    margin-bottom: 0.2rem;

}

.details-container p:last-child {
    margin-bottom: 0;
}

.details-container span {
    min-width: 8rem;
}

.detail-title {
    display: inline-block;
    min-width: 7rem;
    text-align: right;
    margin-right: 1rem;
    font-weight: bold; /* Optional: Makes labels more readable */
}

.info-text {
    padding: 0 5%;
}

.enrollment-container p {
    font-size: large;
}

#currently-enrolled h2 {
    text-align: center;
    margin-top: 1rem;
    color: var(--primary-title-colour);
}

#currently-enrolled ol {
    padding: 5%;
    list-style: none;
}

#currently-enrolled li {
    padding: 8px;
    margin: 0 5%;
    font-size: large;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.enrolled {
    font-weight: bold;
}

.empty-slot {
    color: #999;
    font-style: italic;
}

.remove-button {
    border: none;
    background: none;
    color: red;
    font-size: 1.0rem;
    cursor: pointer;
}

  