.enrollment-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: white;
    gap: 1rem;
}

.heading-box {
    display: flex;
    width: 100%;
    gap:1rem;
}

.heading-box .title {
    flex: 1;
    text-align: center;
    color: #007bff;
}

#activity-title {
    text-align: center;
    margin-top: 1rem;
}

.icon {
    border: none;
    background: none;
    text-align: center;
    font-size: x-large;
    cursor: pointer;
    transition: transform 0.2s ease-in-out; /* Smooth transition effect */
}

.icon:hover {
    transform: scale(1.2); /* Increases size by 20% on hover */
}

#details-container {
    display: flex;
    flex-direction: column;    
    width: 100%;
    gap: 0.3rem;
    margin: 1rem 0rem;
}

#details-container p {
    color: rgb(90, 90, 90);
}

#details-container strong {
    color: rgb(0, 0, 0);
}

.details-box {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
  
.lower-info {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin: 0.5rem 0 0 0rem;
  }

.enrollment-container p {
    font-size: large;
}

#currently-enrolled h2 {
    text-align: center;
    margin-top: 1rem;
}

#currently-enrolled ol {
    padding: 5%;
    list-style: none;
}

#currently-enrolled li {
    padding: 8px;
    margin: 0 5%;
    font-size: large;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.enrolled {
    font-weight: bold;
}

.empty-slot {
    color: #999;
    font-style: italic;
}

.remove-button {
    border: none;
    background: none;
    color: red;
    font-size: 1.0rem;
    cursor: pointer;
}


.text-green { color: #01a075; font-weight: bold; }
.text-amber { color: orange; font-weight: bold; }
.text-red { color: red; font-weight: bold; }
  