.modal h2 {
    color: grey;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
  }
  
  .modal-content {
    position: relative;
    text-align: center;
  }
  
  .close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  