/* Global Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General Reset */
body {
  margin: 0;
  font-family: "Ubuntu", Arial, sans-serif;
  background-color: #F6F1F1;
}

/* Main container Wrapper */
.container {
  margin: 0 auto;
  padding: 0;
}

/* Header Styling */
header {
  background: #0079FF;
  color: #fff;
  padding: 2rem 2rem; /* Adjust padding to avoid nested .container conflicts */
  margin: 0 ;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.top-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Aligns items vertically */
  width: 100%; /* Ensures full width */
}

/* Branding Section */
header .branding h1 {
  font-size: 2.0rem;
}

/* Log in area */
.user-log-in-container {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.user-welcome {
  font-size: larger;
  font-weight: 800;
  text-decoration: none;
  color: #ffffff;
}

.user-welcome .user-name {
  color: #00DFA2;
}

.user-log-in {
  margin: 0 0 0 0;
  padding: 10px;
  background: #00DFA2;
  border-radius: 2px;
}

.user-log-in a {
  font-size: larger;
  font-weight: 800;
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s;
}

.user-log-in a:hover {
  color: #fff;
}

.user-log-in p {
  font-size: larger;
  font-weight: 800;
  text-decoration: none;
  color: #00DFA2;
  transition: color 0.3s;
}


/* Navbar Styling */
.navbar {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.navbar ul li a {
  color: #AFD3E2;
  text-decoration: none;
  font-size: larger;
  font-weight: 400;
  transition: color 0.3s;
}

.navbar ul li a:hover {
  color: #00DFA2;
}


/* Main Content Styling */
main {
  margin: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center-aligns content */
}

/* Flash Container - Prevents Layout Shifts */
#flashContainer {
  text-align: center;
  min-height: 20px; /* Ensures space is always reserved */
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

/* Flash Message - Hidden by Default */
#flashMessage {
  opacity: 0; /* Starts hidden */
  transition: opacity 0.5s ease-in-out;
}

/* Make Message Visible */
#flashMessage.show {
  opacity: 1;
}

/* Success Message - Green */
#flashMessage.success {
  color: #28a745;
}

/* Error Message - Red */
#flashMessage.error {
  color: #dc3545;
}

/* Footer Styling */
footer {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem 0;
  /*background: #AFD3E2;*/
  color: #146C94;
  border-radius: 1rem;
}

footer p {
  font-size: medium;
  font-weight: 800;
}
