<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/activity-close-up.css">
    <link rel="stylesheet" href="/css/edit-buttons-box.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js" defer></script>
    <script src="/js/activity-details.js" defer></script>
    <script src="/js/format-activity-details.js" defer></script>
    <script src="/js/format-edit-buttons.js" defer></script>
</head>

<body>

    <div class="container">
      <header>
        <%- include('../partials/header.ejs', { user: user || null }) %>
      </header>

      <!-- Flash Message Container - Always Present to Prevent Page Shift -->
      <%- include('../partials/flash-message-display.ejs') %>

      <main>
        <div class="single-activity-container">
          <div class="heading-box">
            <span class="icon" onclick="window.history.back()">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="go-back-icon"><path d="M18 15h-6v4l-7-7 7-7v4h6v6z"/></svg>            </span>
            <h1 class="title" id="activity-title"></h1>
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="printer-icon"><path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"/><path d="M6 9V3a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6"/><rect x="6" y="14" width="12" height="8" rx="1"/></svg>
            </span>
          </div>
            <div id="map-container">
              <div id="activity-map"></div>
            </div>
            <p class="activity-description-box"><span id="activity-description"></span></p>
            
            <div id="details-container">
            <!-- html injected by activity-details.js (uses same details format as activity-cards) -->
            </div>

            <div id="edit-buttons-box">
            <!-- html injected by activity-details.js (uses same details format as activity-cards) -->
            </div>
        </div>

      </main>
      
      <footer>
        <%- include('../partials/footer.ejs') %>
      </footer>

    </div>

</body>

</html>
